<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087758920414-muetnknos1hins9hgen8rvnrirbrltbr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087758920414-muetnknos1hins9hgen8rvnrirbrltbr</string>
	<key>API_KEY</key>
	<string>AIzaSyCAaddzFuqRR9Pj3GiCQj0uKuNmt3d8BqM</string>
	<key>GCM_SENDER_ID</key>
	<string>1087758920414</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterstarter.app</string>
	<key>PROJECT_ID</key>
	<string>flutterstarter-83233</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterstarter-83233.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087758920414:ios:65d60faa105c3885b3f04f</string>
</dict>
</plist>